{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.product }}</td>
                    <td>{{ row.qty }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.qty * row.price }}</td>
                    <td>{{ row.datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}