{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<p>
       Tirupati Starch & Chemicals Ltd. (TSCL) is a professionally managed “Wet Corn Process Industry” and is agro business based company having agro commodity operations from the last 35 years.
    The Company was formed in the year 1985 & commenced production of normal starch, pharma grade starch & Dextrine in 1989. Company expanded (Forward Integration) in year 1996 and started producing Dextrous Anhydrous and Dextrous Monohydrate.
    </p>

<p>
    The Company has received ISO 9001:2015 which certifies the quality standards of the products and processes which the Company adopts to manufacture its products.
</p>

<p>
Presently we are having following products in our portfolio:

<table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">S.No.</th>
                <th>Product</th>
            </tr>
        </thead>
         <tbody>
                <tr>
                    <td>1.</td>
                    <td>Maize Starch Powder</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Dextrose Anhydrous</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Dextrose Monohydrate</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Corn Gluten</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Corn Germ</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Grit</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Husk</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Dextrine (White & Yellow)</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>IP Starch</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Hydrol</td>
                </tr>
        </tbody>
    </table>
</p>

<p>The raw material to manufacture these products are procured from authentic & certified vendors of the market. The offered array of products is developed by our skilled vendors utilizing high quality raw material and advance technology in total accordance with the set industry norms. Our offered finished goods are highly acclaimed among our precious clients for their purity, reliability, unmatched quality and high durability.</p>

{% endblock %}